<post>

  <br/><br/>

  <div id="page_content">
    <blockquote>
      <br/>
      <%- theme.author.self_intro %><br/>
      <br/>
    </blockquote>

    <br/>

    <h2>Contact</h2>

    <span><img src="https://pic.downk.cc/item/5e0c960976085c3289427008.png" style="margin: 0 15px; width:36px; vertical-align: middle; display: inline;">github: <a href="https://github.com/<%- theme.author.github %>"><%- theme.author.github %></a></span>
    <br/>
    <br/>

    <span><img src="https://pic.downk.cc/item/5e0c960076085c3289426e8f.png" style="margin: 0 15px; width:36px; vertical-align: middle; display: inline;">email: <a href="mailto:<%- theme.author.email %>"><%- theme.author.email %></a></span>
    <br/>
    <br/>

    <span><img src="https://pic.downk.cc/item/5e0c961776085c32894271f8.png" style="margin: 0 15px; width:36px; vertical-align: middle; display: inline;">telegram: <a href="https://t.me/<%- theme.author.telegram %>"><%- theme.author.telegram %></a></span>
    <br/><br/><br/>

    <%- page.content %>
  </div>

  <br/><br/><br/>

  <%- partial('_partial/top') %>

</post>










