<%- css('css/page') %>
<post>

  <div id="page_content">

  <h1><%= __("index.about") %></h1>

    <blockquote>
      <br/>
      <%- theme.author.self_intro %><br/>
      <br/>
    </blockquote>

    <%- page.content %>

  </div>

  <br/><br/><br/>

  <%- partial('_partial/top') %>

</post>










