<!DOCTYPE html>
<html>
<%- partial('_partial/header') %>
<body>
  <img class="bgimg" src="https://pic.superbed.cn/item/5e290db42fb38b8c3c34698b.png" />
  <%- partial('_partial/title') %>
  <%- partial('_partial/nav') %>

  <div class="main">
    <%- body %>
  </div>

  <%- partial('_partial/footer') %>
</body>
</html>
