<!DOCTYPE html>
<html>
<%- partial('_partial/header') %>
<body>
  <%- partial('_partial/title') %>
  <%- partial('_partial/nav') %>

  <div class="main">
    <%- body %>
  </div>

  <%- partial('_partial/footer') %>
</body>
</html>
