<%- css('css/post') %>
<post>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css" integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
  <% if (page.languages) { %> 
  <% page.languages.forEach(function(language) { %>
    <% if (language === "solidity") { %>
      <script src="/js/solidity.min.js"></script>"
      <script src="/js/yul.min.js"></script>"
    <% } else { %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/<%= language %>.min.js"></script>
    <% } %>
  <% }) %>
  <% } %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>

  <div class="post_title">
    <%- page.title %>
  </div>

  <br /><br />

  <div id="post_content">
    <%- page.content %>
  </div>

  <br />

  <% if (theme.busuanzi && theme.busuanzi.enable) { %>
  <!-- <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
  <span id="busuanzi_container_site_pv">
    <%= __("post.busuanzi.visit") %><span id="busuanzi_value_page_pv"></span>
    <%= __("post.busuanzi.time") %>
  </span>
  <% } %>
  <br /><br />


  <%- partial('_partial/copyright') %>
  <%- partial('_partial/top') %>
  <%- partial('_partial/comment') %>

  <script>
    hljs.highlightAll();
    hljs.initLineNumbersOnLoad();
  </script>

</post>