<%- css('css/search') %>
<h1><%= __("index.search") %></h1>

<form class="site-search-form">
  <input type="text" id="local-search-input" class="st-search-input" />
</form>
<div id="local-search-result" class="local-search-result-cls"></div>

<div hidden id="nfound"><%= __("search.nfound") %></div>
<div hidden id="ninit"><%= __("search.ninit") %></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js"></script>
<%- js('js/search.js') %>
<script type="text/javascript" id="local.search.active">
  var inputArea = document.querySelector("#local-search-input");
  getSearchFile();
  inputArea.onkeydown = function() {
    if (event.keyCode === 13) return false
  }
</script>