<foot id="footer">
  <hr class="boldline"/>
  <br>

  <p class="center font">
    <% if (theme.author.social.github) { %>
      <%- partial('_svg/github') %>
    <% } %>
    <% if (theme.author.social.email) { %>
      <%- partial('_svg/email') %>
    <% } %>
    <% if (theme.author.social.telegram) { %>
      <%- partial('_svg/telegram') %>
    <% } %>
    <% if (theme.author.social.instagram) { %>
      <%- partial('_svg/instagram') %>
    <% } %>
    <% if (theme.author.social.twitter) { %>
      <%- partial('_svg/twitter') %>
    <% } %>
    <% if (theme.author.social.youtube) { %>
      <%- partial('_svg/youtube') %>
    <% } %>
    <% if (theme.author.social.facebook) { %>
      <%- partial('_svg/facebook') %>
    <% } %>
    <% if (theme.author.social.weibo) { %>
      <%- partial('_svg/weibo') %>
    <% } %>
    <% if (theme.author.social.zhihu) { %>
      <%- partial('_svg/zhihu') %>
    <% } %>
    <% if (theme.rss) { %>
      <%- partial('_svg/rss') %>
    <% } %>
  <p>
  <br>
  <p id="hitokoto">:D 获取中...</p>
  <script src="https://v1.hitokoto.cn/?c=a&encode=js&select=%23hitokoto" defer></script>
  <br>
  <p class="center font">
    &copy - <a href="<%- config.url %>"><%- config.author%></a> - <% if(theme.startYear < date(Date.now(), 'YYYY')){%> <%- theme.startYear %> - <% } %> <%- date(Date.now(), 'YYYY') %> - Powered by <a href="https://hexo.io/">Hexo</a> <% if(theme.showTheme) {%> Theme <a href="https://github.com/pcrab/hexo-theme-quark"> Quark </a> <% } %>
  </p>
  <p>
    <a href="http://www.beian.miit.gov.cn"><%= theme.beian %></a>
  </p>
  <br/>
</foot>
