<head>
  <title>
    <% if(page.title){ %><%- page.title %> - <% } %><%= config.title %>
  </title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <% if (theme.favicon){ %>
  <link rel="shortcut icon" href="/<%- theme.favicon %>" />
  <% } %>

  <%- css('css/utils/clear') %>
  <% if(theme.dark){ %><%- css('css/style-dark') %>
  <% } else {%><%- css('css/style') %><%}%>

  <link href="https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<% if ("Valine" == theme.comment.Select ) { %>
  <script src="//unpkg.com/valine/dist/Valine.min.js"></script>

  <% if (theme.comment.Valine.verify) { %>

  <script>
    new Valine({
      el: '#vcomments',
      appId: '<%- theme.comment.Valine.appid %>',
      appKey: '<%- theme.comment.Valine.appkey %>',
      verify: true
    })
  </script>

  <% } else { %>

  <script>
    new Valine({
      el: '#vcomments',
      appId: '<%- theme.comment.Valine.appid %>',
      appKey: '<%- theme.comment.Valine.appkey %>'
    })
  </script>

  <% } %>

  <% } else if ("Disqus" == theme.comment.Select ) { %>
  <% if (theme.comment.Disqus.needProxy) { %>

  <%- css('css/disqus/iDisqus.min.css') %>
  <%- js('js/iDisqus.min.js') %>

  <script>
  var disq = new iDisqus('comment', {
      forum: 'pcrab-blog',
      api: '<%- theme.comment.Disqus.proxyUrl%>',
      site: '<%- config.url %>',
      mode: 1,
      timeout: 3000,
      init: true
  });
  </script>
  <% } else if (!theme.comment.Disqus.needProxy) { %>

  <script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://pcrab-blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <% } %>
  <% } %>

  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/highlight.js/9.15.6/styles/<%= config.highlight.theme || 'default' %>.min.css" rel="stylesheet">
</head>
