<% page.posts.forEach(function(post){ %>
<div class=index_list>

  <div class="line_1">
    <div class="index_post_date">
      「 <%- full_date(post.date, "MMMM Do") %> 」
    </div>
  </div>

  <div class="index_post_title">
    <a href="/<%- post.path %>"><%- post.title %></a>
  </div>

  <% if(post.tags.length > 0) { %>
  <div class="blank">
    <% post.tags.forEach(function(tag){ %>
    <div class="index_post_tag"><a href="/tags/<%- tag.name %>">
      <%- tag.name %>
    </a></div>
    <% }) %>
  </div>
  <% } %>

  <div class="index_post_excerpt">
    <%- post.excerpt %>
  </div>

  <!--
  <a class="more" href="/<%- post.path %>">阅读更多</a>
  -->

</div>
<% }) %>

<div class="page_num">

  <% if ( 1 == page.total ) { %>
  <% } else { %>

  <% if ( 0 == page.prev ) { %>
  <% } else if ( 1 == page.prev ) { %>
  <a class="page_item" href="<%= config.url%>/<%= page.prev_link %>"><%= page.prev %></a>
  <% } else { %>
  <a class="page_item" href="<%= config.url%>">1</a>
  <%if ( 2 < page.prev ) { %>
  <p>...</p>
  <% } %>
  <a class="page_item" href="<%= config.url %>/<%= page.prev_link %>"><%= page.prev %></a>
  <% } %>

  <a class="page_item" href="<%= config.url%>/<%= page.current_url %>"><%= page.current %></a>

  <% if ( 0 != page.next ) { %>
  <a class="page_item" href="<%= config.url %>/<%= page.next_link %>"><%= page.next %></a>

  <% if (1 < page.total - page.next ) { %>
  <p>...</p>
  <% } %>
  <% if ( page.total > page.next) { %>
  <a class="page_item" href="<%= config.url%>/page/<%= page.total %>"><%= page.total %></a>
  <% } %>
  <% } %>


  <% } %>

</div>