<% page.posts.forEach(function(post){ %>
<div class=index_list>

  <div class="line_1">
    <div class="index_post_date">
      「 <%- full_date(post.date, "MMMM Do") %> 」
    </div>
  </div>

  <a id="index_post_title" href="/<%- post.path %>"><%- post.title %></a><br/>

  <div class="blank">
  <% post.tags.forEach(function(tag){ %>
    <a class="index_post_tag" href="/tags/<%- tag.name %>">
      <%- tag.name %>
    </a>
  <% }) %>
  </div>

  <div class="index_post_excerpt">
    <%- post.excerpt %>
  </div>

  <!--
  <a class="more" href="/<%- post.path %>">阅读更多</a>
  -->

</div>
<% }) %>

<div class="page_num">

    <% if ( page.total == 1 ) { %>
    <% } else { %>

        <% if ( page.prev == 0 ) { %>
        <% } else if ( page.prev == 1 ) { %>
            <a class="page_item" href="<%= theme.site%>/<%= page.prev_link %>" ><%= page.prev %></a>
        <% } else { %>
            <a class="page_item" href="<%= theme.site%>">1</a>
            <%if ( page.prev > 2 ) { %>
                <p>...</p>
            <% } %>
            <a class="page_item" href="<%= theme.site %>/<%= page.prev_link %>" ><%= page.prev %></a>
        <% } %>

        <a class="page_item" href="<%= theme.site%>/<%= page.current_url %>" ><%= page.current %></a>

        <% if ( page.next != 0 ) { %>
            <a class="page_item" href="<%= theme.site %>/<%= page.next_link %>" ><%= page.next %></a>

            <% if (page.total - page.next > 1 ) { %>
                <p>...</p>
            <% } %>
            <% if ( page.total > page.next) { %>
                <a class="page_item" href="<%= theme.site%>/page/<%= page.total %>"><%= page.total %></a>
            <% } %>
        <% } %>


    <% } %>

</div>
