<div class="navi">
  <a id="navi_item_title" href="/#" class="menu-item-link">
    <%= __("index.title") %>
  </a>
  <a id="navi_item_tags" href="/tags" class="menu-item-link">
    <%= __("index.tags") %>
  </a>
  <a id="navi_item_about" href="/about" class="menu-item-link">
    <%= __("index.about") %>
  </a>
  <a id="navi_item_search" href="/search" class="menu-item-link">
    <%= __("index.search") %>
  </a>
  <% if (theme.friendlink && theme.friendlink.enable) {%>
  <a id="navi_item_friendlink" href="/friendlink" class="menu-item-link">
    <%= __("index.friendlink") %>
  </a>
  <% } %>
</div>

<hr />